<div class="singleLayout">
    <mat-card class="center" style="min-width: 25%;">
        <mat-card-subtitle>{{date | dateFormat}}</mat-card-subtitle>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-content>
            <p>
                Czar trwania: {{movieDuration}} minut <br>
                Sala: {{roomNumber}} <br>
                <br>  
            </p>
            <div>
                <button class="button" mat-stroked-button color="primary" [routerLink]="['edit']">Edytuj</button>
                <button class="button" style="margin-right: 5%; margin-left: 5%;" mat-stroked-button color="warn" [routerLink]="['delete']">Usuń</button>
                <button class="button" mat-stroked-button [routerLink]="['/showings']">Wróć</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="singleLayout">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="center">
            <mat-label>Miejsce</mat-label>
            <mat-select formControlName="ticket" required>
                <mat-option class="center" *ngFor="let seat of emptySeats" value="{{seat}}">{{seat}}</mat-option> -->
            </mat-select>
            <mat-error *ngIf="ticket.invalid">Wybierz miejsce!</mat-error>
        </mat-form-field>
        <div class="center">
            <button mat-stroked-button color="primary" type="submit">Kup bilet</button>
        </div>
    </form>
</div>