<nav mat-tab-nav-bar class="bgColor" color="warn">
  <a class="textColor" mat-tab-link routerLink="" routerLinkActive="active">
    <mat-icon class="material-icons md-12">home</mat-icon>
    Strona główna
  </a>
  <a class="textColor" mat-tab-link routerLink="/showings" routerLinkActive="active">Seanse</a>
  <a class="textColor" mat-tab-link routerLink="/rooms" routerLinkActive="active" >Sale</a>
  <a class="textColor" mat-tab-link routerLink="/movies" routerLinkActive="active">Filmy</a>
</nav> 

<router-outlet></router-outlet>