
<div>
  <br>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">

    Nazwa <input type="text" formControlName="title"  />
    <br>
    Czas trwania filmu <input type="number" formControlName="duration"/><br>
     <br>
    <button mat-raised-button color="accent" type="submit" [disabled]="formGroup.invalid">Dodaj </button>

  </form>
</div>

<mat-form-field appearance="fill">
  <mat-label>Nazwa</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Czas trwania filmu</mat-label>
  <input matInput>
</mat-form-field>






