
<div>
  <br>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Nazwa</mat-label>
      <input matInput formControlName="title"  required/>
      <mat-error *ngIf="title.invalid">Podaj nazwę o min długości 2</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Czas trwania filmu</mat-label>
      <input matInput formControlName="duration"  required />
      <mat-error *ngIf="duration.invalid">Podaj czas trwania</mat-error>
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">Dodaj </button>

  </form>
</div>








