<form [formGroup]="formGroup" (ngSubmit)="save()">

<!--  Nazwa <input type="text" formControlName="title"  />-->
<!--  <br>-->
<!--  Czas trwania filmu <input type="number" formControlName="duration"/><br>-->
<!--  <br>-->
<!--  <button mat-raised-button color="accent" type="submit" [disabled]="formGroup.invalid">Aktualizuj </button>-->

  <mat-form-field appearance="outline">
    <mat-label>Nazwa</mat-label>
    <input matInput formControlName="title"  required/>
<!--    <mat-error *ngIf="title.invalid">Podaj nazwę o min długości 2</mat-error>-->
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Czas trwania</mat-label>
    <input matInput formControlName="duration" required/>
  </mat-form-field>
  <br>



  <button mat-stroked-button color="primary" type="submit">Zapisz zmiany</button>
  <button mat-stroked-button [routerLink]="['/showings/' + id]">Wróć</button>

</form>
