<div class="editMovie">
  <form [formGroup]="formGroup" (ngSubmit)="save()">

    <mat-form-field appearance="outline" class="center">
      <mat-label>Nazwa</mat-label>
      <input matInput formControlName="titleForm"  required/>
      <mat-error *ngIf="titleForm.invalid">Podaj nazwę o min długości 2</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" class="center">
      <mat-label>Czas trwania</mat-label>
      <input matInput formControlName="durationForm" type="number" required/>
      <mat-error *ngIf="durationForm">Podaj czas trwania</mat-error>
    </mat-form-field>
    
    <br>

    <div class="center" style="padding-top: 2%;">
        <button mat-stroked-button color="primary" type="submit">Zapisz zmiany</button>
    </div>
    <div class="center" style="padding-top: 5%;">
        <button class="button" mat-stroked-button [routerLink]="['/movies/' + this.id]">Wróć</button>
    </div>
  </form>
</div>
