<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" >

    <select formControlName="movie">
        <option value="" selected disabled>Film</option>
        <option *ngFor="let movie of moviesList" [ngValue]="movie">{{movie.title}}</option>
    </select><br>

    <select formControlName="room">
        <option value="" selected disabled>Sala</option>
        <option *ngFor="let room of roomsList" [ngValue]="room">Sala {{room.number}}</option>
    </select><br>

    <input type="datetime-local" formControlName="date"/><br>

    <div id="alert" style="display: none;">
        Uzupelnij dane!
    </div>
  
    <button type="submit">Dodaj</button>
    <button [routerLink]="['/showings']">Wróć</button>
</form>
